@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Serif");
/* font-family: 'PT Serif', serif; font-family: 'PT Sans Narrow', sans-serif */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'PT Serif', serif; }

a, a:hover, a:active {
  text-decoration: none;
  outline: none; }

.wrap-main {
  min-width: 890px;
  max-width: 1860px;
  margin: 0 auto;
  padding: 60px 40px; }

.h2 {
  font-size: 20px; }

.h3 {
  font-weight: normal; }

/*header*/
.title__line {
  width: 50px;
  height: 1px;
  background-color: #3c3c3c; }

.title__cube {
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #3c3c3c; }

.title__h1 {
  margin: 0 26px;
  font-size: 24px; }

.title_position_normal {
  margin: 70px 0 46px 0; }

.title_position_on-border {
  position: relative;
  top: -17px;
  padding: 0 50px; }

.header-main__title {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px; }

.header-main__arrow-text {
  padding: 0 24px; }

.title__line, .title__cube, .title__h1, .header-main__arrow-text, .header-main__arrow-img {
  display: inline-block;
  vertical-align: middle; }

.header-main__cont {
  background-image: url("../img/head.png");
  height: 721px;
  margin: 53px 0 48px 0;
  position: relative; }

.header-main__h1 {
  font-size: 28px; }

.header-main__h1_padding-top_255 {
  padding-top: 255px; }

.header-main__h1_padding-top_186 {
  padding-top: 180px; }

.navigation_position_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.navigation__elem {
  margin: 0 17px;
  padding-bottom: 15px;
  border-bottom: 6px solid transparent; }

.navigation__elem:hover,
.navigation__elem_selected {
  border-bottom: 6px solid; }

.navigation__elem_style_border-orange {
  border-bottom: 4px solid transparent; }

.navigation__elem_style_border-orange:hover,
.navigation__elem_selected_orange {
  border-bottom: 4px solid #fca74b; }

/*main*/
/*description*/
.desc-header__elem_position_center {
  padding: 2px 31px;
  margin: 0 70px;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c; }

.desc-text {
  margin: 48px 0 95px 0; }

.desc-text__p {
  text-align: left;
  font-size: 17px;
  line-height: 1.5;
  width: 460px;
  margin: 0 40px; }

.desc-img__row {
  margin-bottom: 24px; }

.desc-img__img {
  margin: 0 15px; }

.desc-img__row:last-child {
  margin-bottom: 0px; }

@media screen and (max-width: 1170px) {
  .desc-img__row {
    max-width: 540px;
    margin: 0 auto; } }

/*construction*/
.slider {
  position: relative;
  width: 765px;
  margin: 0 auto;
  margin-bottom: 60px; }

.slider__background {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: -30px;
  width: 825px;
  height: 145px;
  border: solid 1px #cbcbcb; }

.slider__img {
  margin-bottom: 14px; }

.lSAction > a {
  top: 45%;
  height: 15px;
  opacity: 0.9; }

/*plan*/
.plan, .docs {
  border: 1px solid #cbcbcb;
  position: relative; }

.plan__h4 {
  margin: 37px 0; }

.plan__img {
  margin-bottom: 55px;
  width: 100%;
  max-width: 890px; }

.plan__prev, .plan__next {
  display: block;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0; }

.plan__next {
  right: -20px; }

.plan__prev {
  left: -20px; }

/*apartments*/
.check-section__label {
  vertical-align: middle;
  margin: 0 24px 0 10px; }

.check-section__checkbox {
  position: absolute;
  left: -9999px; }

.check-section__fake-box {
  position: relative;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #c6c6c6; }

.check-section__checkbox:checked + .check-section__fake-box::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background-color: #fca74b; }

.check-section_pos-50 {
  margin: 50px 0; }

/*apartments__tabel*/
.table {
  margin: 0 auto;
  border-spacing: 10px 10px;
  line-height: 40px;
  color: #cbcbcb; }

.table__td {
  position: relative;
  width: 100px;
  height: 40px;
  border: 1px solid #cbcbcb; }

.table__td-first {
  width: 50px; }

.table__num {
  float: left;
  border-right: 1px solid #cbcbcb;
  width: 40px; }

.popup-for-table {
  display: none;
  height: 320px;
  width: 280px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: left;
  z-index: 5;
  line-height: 1.5; }

.table__td:hover .popup-for-table {
  display: block;
  position: absolute;
  top: 30px;
  left: 70px; }

.popup-for-table__img {
  display: block;
  width: 200px;
  margin: 30px auto; }

.popup-for-table__text-r {
  float: right; }

.popup-for-table__h1 {
  font-size: 16px; }

.notation {
  margin-top: 45px; }

.notation__box, .notatio__text {
  vertical-align: middle; }

.notatio__text {
  margin: 0 24px 0 2px; }

.notation__box {
  width: 30px;
  height: 20px;
  border: solid 1px #cbcbcb; }

.notation__box_style_booked {
  border: solid 2px #fca74b; }

.notation__box_style_sold {
  border: solid 2px #d0011b; }

/*docs*/
.docs {
  margin: 110px 0 72px 0; }

.docs-section {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 60px auto 10px auto;
  padding: 0 100px 0 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.docs-section__elem {
  text-align: left;
  width: 360px;
  margin-bottom: 50px;
  cursor: pointer; }

.docs-section__text {
  padding: 0 80px 0 19px; }

/*.footer-main*/
.footer-main__info {
  border: 1px solid #cbcbcb;
  padding: 25px;
  margin-bottom: 25px; }

.footer-main__login {
  float: right;
  margin-top: 13px; }

.footer-main__text {
  width: 500px; }

.footer-main__name, .footer-main__develop, .footer-main__text {
  font-size: 12px; }

.footer-main__name {
  margin-left: 25px; }

.footer-main__develop {
  float: right;
  margin-right: 25px; }

.hidden {
  display: none; }

#hidden__form {
  width: 320px;
  height: 400px;
  margin: auto;
  position: relative; }

.hidden__title {
  font-size: 18px;
  line-height: 72px;
  border-bottom: solid 1px #cbcbcb; }

.hidden__main {
  margin: 45px 20px; }

.hidden__input {
  width: -webkit-calc(100% - 13px);
  width: calc(100% - 13px);
  padding-left: 13px;
  height: 40px;
  margin: 15px 0px;
  border: solid 1px #cbcbcb; }

.hidden__btn {
  width: 200px;
  height: 48px;
  background: #f7a449;
  border: none;
  margin: 15px 0 0 40px; }

/*-------------общие свойства чтобы сократить код---------------*/
a, a:hover, a:active, body, .table__num, .popup-for-table, .hidden__input[placeholder] {
  color: #3c3c3c; }

.hidden__btn, .header-main__cont, .navigation__a_text-color_white, .navigation__a_text-color_white:hover {
  color: #fff; }

.h3, .header-main__title, .notatio__text, .hidden__label, .slider__text {
  font-size: 13px; }

.h4, .check-section__label, .popup-for-table__h2, .docs-section__text, .hidden__input[placeholder] {
  font-size: 14px; }

.title_position_on-border, .check-section__fake-box, .popup-for-table, #hidden__form {
  background-color: #fff; }

.h3, .notatio__text, .navigation, .hidden__label, .slider__text {
  font-family: 'PT Sans Narrow', sans-serif; }

.h2, .header-main__arrow-text, .header-main__h1, .hidden__input[placeholder] {
  font-style: italic; }

.hidden__title, .table__num, .header-main__h1, .title__h1 {
  font-weight: bold; }

.title, .hidden__title, .apartments, .plan, .docs, .description, .header-main__cont, .slider__elem {
  text-align: center; }

.docs-section, .docs-section__elem, .header-main__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.title_position_on-border, .desc-header__elem, .navigation__elem, .desc-text__p, .check-section__fake-box, .notation__box, .notatio__text {
  display: inline-block; }

.docs-section, .docs-section__elem, .header-main__title {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/*-----------*/
